<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assist/image" type="image/x-icon">
    <link rel="stylesheet" href="/output.css">
 
    <title><%=file%></title>
</head>
<body class=" bg-slate-900 p-4 text-white  h-screen">

    <h1 class="bg-slate-800 h-8 mt-2 p-2 rounded-md text-white w-full">
<%=file%></h1>
<h3 class="bg-slate-800 h-44 mt-8 mb-9 p-2 rounded-md text-white w-full">
    <%=data%>
</h3>
<a href="/" class="text-white rounded-md pl-3 text-2xl pr-3 bg-blue-800" >Back</a>



    
</body>
</html>